<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Area42</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/A42.Planning.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-light bg-white box-shadow mb-3 h-100 d-block">
        <div class="navbar-brand-container w-100 p-2">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
              <img style="height: 2.5em;" src="/assets/logo.png" />
              <span>Planningstool</span>
            </a>
        </div>
        <ul class="navbar-nav flex-column px-4">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Locations/Index">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Teams/Index">Teams</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
