@page
@namespace A42.Planning.WebApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Planning";
}

<div class="text-center">
    <h1 class="display-4">Planning</h1>
    <p>Date selector</p>
    <p>Team selector</p>
</div>
